# =========================
# SYSTEM / OS
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV FILES (SECRET)
# =========================
.env
.env.*
!.env.example
auth.json
.agents.*


# =========================
# LOGS
# =========================
*.log

# =========================
# DEPENDENCIES
# =========================
node_modules/
vendor/

# =========================
# LARAVEL STORAGE
# =========================
storage/*.key
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/pail

# =========================
# VITE / FRONTEND BUILD
# =========================
public/build/
public/hot
docs

# =========================
# SYMLINK STORAGE (Laravel)
# =========================
public/storage

# =========================
# IDE / EDITOR
# =========================
.idea/
.vscode/
.phpactor.json
.phpunit.result.cache
.phpunit.cache/
.nova/
.fleet/
.zed/

# =========================
# HOMESTEAD (optional)
# =========================
Homestead.json
Homestead.yaml